<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissões para acesso à localização -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- define the resources that our app will need -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HL_ENTREGA"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UI.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".UI.ListCommand"
            android:exported="false" />
        <activity
            android:name=".UI.UpdateUserRegister"
            android:exported="false" />
        <activity
            android:name=".UI.SeeMenuUser"
            android:exported="false" />
        <activity
            android:name=".UI.ListMenus"
            android:exported="false" />
        <activity
            android:name=".UI.ListRestaurants"
            android:exported="false" />
        <activity
            android:name=".UI.ListAdmins"
            android:exported="false" />
        <activity
            android:name=".UI.ListUsers"
            android:exported="false" />
        <activity
            android:name=".UI.UsergetCamera"
            android:exported="false" />
        <activity
            android:name=".UI.MenuAddActivity"
            android:exported="false" />
        <activity
            android:name=".UI.GetCameraActivity"
            android:exported="false" />
        <activity
            android:name=".UI.GpsLocationActivity"
            android:exported="false" />
        <activity
            android:name=".UI.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".UI.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UI.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UI.AdminRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.RestaurantRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.CommandActivity"
            android:exported="false" />
        <activity
            android:name=".UI.MenuUserActivity"
            android:exported="false" />
        <activity
            android:name=".UI.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".UI.UserRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>